#train {
      position: relative;
      cursor: pointer;
    }
p {
     text-aling: center;
	 color: blue;
}
.center {
     text-align: center;
	 color: orange;
}
  #para1 {
     text-align: left;
	 color: red;
}
body {background-color: Cyan ;}
 <body style="background-color: lightcyan ">
 
 